<div class="row">
  <div class="hidden-xs voffset6" ></div>
  <div class="col-md-12 col-lg-12 panel">  
    <br>
    <div class="panel-heading" id="syllabus">
      <h1 class="text-center text-primary hidden-xs" style="font-size:400%"><span class="glyphicon glyphicon-book"></span>Documentation</h1>
      <h1 class="text-center text-primary visible-xs"><span class="glyphicon glyphicon-book"></span>Documentation</h1>
      <br><br>
      <div class="tabbable" >
        <ul class="nav nav-tabs" id="myTabs">
          <li class="active"><a href="#p1" data-toggle="tab"><strong>EtherPad</strong></a></li>
          <li><a href="#p2" data-toggle="tab"><strong>NextCloud</strong></a></li>
          <li><a href="#p3" data-toggle="tab"><strong>Guest Book</strong></a></li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active " id="p1">
          <h3 class="text-center" id="pg1"> EtherPad</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              Etherpad allows you to edit documents collaboratively in real-time, much like a live multi-player editor that runs in your browser. Write articles, press releases, to-do lists, etc. together with your friends, fellow students or colleagues, all working on the same document at the same time.All instances provide access to all data through a well-documented API and supports import/export to many major data exchange formats. And if the built-in feature set isn't enough for you, there's tons of plugins that allow you to customize your instance to suit your needs.
            </p>
            <h4>Administration Guide</h4>
            <p>
              You will find admin panel at <b>local.mazizone.eu:9001/admin</b></br>
              <b>User Name :</b> admin</br>
              <b>Password :</b> mazizone
            </p>
            <p>
              In order to change the admin password, in the Admin panel select settings and change "mazizone" with your password 
              <pre><code>
              "users": {
                "admin": {
                  "password": "mazizone",
                  "is_admin": true
                },
              }
              </code></pre>
            </p>
            <img src="images/etherpad_doc.png" class="img-responsive center-block" alt="Image for Etherpad Admin Panel">
          </div>
          <div class="voffset9"></div>
        </div>
        
        <div class="tab-pane fade" id="p2">
          <h3 class="text-center" id="pg1"> NextCloud</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              Nextcloud is a private file sync and share communication server. It is fully open source and you can host it yourself or pay a company to do it for you. That way, you are in control of your photos, your calendar and contact data, your documents and everything else.
            </p>
            <h4>Administration Guide</h4>
            <p>
              You will find admin panel at <b>local.mazizone.eu/nextcloud</b></br>
              <b>User Name :</b> admin</br>
              <b>Password :</b> mazizone
            </p>
            <img src="images/nextcloud_doc.png" class="img-responsive center-block" alt="Image for NextCloud Admin Panel" style='padding-bottom: 10px'>
            <p>
              To access your personal settings:</br>
                1. Clicking on admin in the top, right corner of your nextCloud instance. The Personal Settings Menu opens.
            </p>
            <img src="images/nextcloud_doc2.png" class="img-responsive center-block" alt="Image for NextCloud Admin Panel 2">
            <p>
              2. Choose Personal from the drop down menu.

              Some of the features you will see include the following.
              <ul>
               <li> Usage and available quota</li>
               <li> Manage your profile picture.</li>
               <li> Full name. You can make this anything you want, as it is separate from your login name, which is unique and cannot be changed.</li>
               <li> Email address.</li>
               <li> Lists your Group memberships.</li>
               <li> Manage your password. </li>
               <li> Choose the language for your nextCloud interface. </li>
               <li> Links to desktop and mobile apps.</li>
              </ul>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>
        <div class="tab-pane fade" id="p3">
          <h3 class="text-center" id="pg1"> Guest Book</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              The MAZI Guest Book is an open source application that can used in events enabling the audience to share their thoughts, photos, etc
            </p>
            <img src="images/guestbook_doc.png" class="img-responsive center-block" alt="Image for NextCloud Admin Panel" style='padding-bottom: 10px'>
            <h4>Administration Guide</h4>
            <p>
              Log in to your Raspberry Pi, and then:
            </p>
            <p>
              To configure the Guest Book application:</br>
              <ul>
                <li>
                  1. In order to change tags, open the config.js(/var/www/html/mazi-board/src/www/js/config.js ) file with your favorite editor and change the names of tags 
                  <pre><code>
                    tags: ['tag1', 'tag2', 'tag3', 'tag4']
                  </code></pre>
                </li>
                <li>
                  2. In order to change the backgournd image,  save your image in images folder (/var/www/html/mazi-board/src/www/images), then edit this file (/var/www/html/mazi-board/src/www/js/template/header_tmp.html) and replace the header-img.jpg with your image name 
                  <pre>
                    <code>
                      &lt;div class="header-bar"&gt;&lt;/div&gt;
                      &lt;div class="header-image column"&gt;&lt;img src="images/header-img.jpg"&gt;&lt;/div&gt;
                    </code>
                  </pre>
                </li>
                  3. In order to change the admin password, open the config.js file (/var/www/html/mazi-board/src/node/config.js ) with your favourite editor and then change the authPassword: 
                  <pre>
                    <code>
                      /* AUTH DATA */
                        authName: 'admin',
                        authPassword: 'password',
                    </code>
                  </pre>
                </li>
              </ul>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>
      </div>
    </div>
  </div>
</div>