<div class="row">
  <div class="hidden-xs voffset6" ></div>
  <div class="col-md-12 col-lg-12 panel">  
    <br>
    <div class="panel-heading" id="syllabus">
      <h1 class="text-center text-primary hidden-xs" style="font-size:400%"><span class="glyphicon glyphicon-book"></span> Admin Documentation</h1>
      <h1 class="text-center text-primary visible-xs"><span class="glyphicon glyphicon-book"></span> Admin Documentation</h1>
      <br><br>
      <div class="tabbable" >
        <ul class="nav nav-tabs" id="myTabs">
          <li class="active"><a href="#p1" data-toggle="tab"><strong>Initial Configuration</strong></a></li>
          <li><a href="#p2" data-toggle="tab"><strong>Etherpad</strong></a></li>
          <li><a href="#p3" data-toggle="tab"><strong>Nextcloud</strong></a></li>
          <li><a href="#p4" data-toggle="tab"><strong>Guestbook</strong></a></li>
          <li><a href="#p5" data-toggle="tab"><strong>WordPress</strong></a></li>
          <li><a href="#p6" data-toggle="tab"><strong>FramaDate</strong></a></li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <div class="tab-content">
      <div class="tab-pane fade in active " id="p1">
          <h3 class="text-center" id="pg1"> Initial Configuration</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              This is the admin documentation guide for the MAZI Zone portal. Use the tabs above to navigate to the different sections of the documentation. The current tab 
              describes the different actions an administrator might need, in order to configure the raspberry pi. While all the other tabs give information regarding the
              administration of the supported applications.
            </p>
            <h4>Connecting through ssh</h4>
            <p>
              For the remote connection to the Raspberry through ssh you have to open a terminal and execute the following command:
              <pre><code>
                $ssh pi@local.mazizone.eu
                password: mazizone
              </code></pre>
            </p>
            <p>
              If you want to change the password for the pi user do $passwd and follow the instructions.
              <pre><code>
                $ passwd
              </code></pre>
              This is the password for the ssh connection and is different from the admin account which you use to login the admin interface.
            </p>

            <h4>Raspbian Configuration</h4>
            <p>
              Once you successfully log in the Raspberry, start the rasbian configuration tool:
              <pre><code>
                $sudo raspi-config
              </code></pre>
              and navigate to the menu:
              <ul>
                <li>Re-size the file-system to use the entire SD card capacity</li>
                <li>In the Internationalisation option, change:
                  <ul>
                    <li>the locale to match your location</li>
                    <li>the timezone to match your location</li>
                  </ul>
                </li>
              </ul>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>

        <div class="tab-pane fade in" id="p2">
          <h3 class="text-center" id="pg1"> Etherpad</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              Etherpad allows you to edit documents collaboratively in real-time, much like a live multi-player editor that runs in your browser. Write articles, press releases, to-do lists, etc. together with your friends, fellow students or colleagues, all working on the same document at the same time.All instances provide access to all data through a well-documented API and supports import/export to many major data exchange formats. And if the built-in feature set isn't enough for you, there's tons of plugins that allow you to customize your instance to suit your needs.
            </p>
            <h4>Administration Guide</h4>
            <p>
              You will find an Admin page at the <b><a target="_blank" href="http://local.mazizone.eu:9001/admin" class="app-link" >local.mazizone.eu:9001/admin</a></b></br>
              <b>User Name :</b> admin</br>
              <b>Password :</b> mazizone
            </p>
            <p>
              In order to change the admin password, in the Admin page select settings and change "mazizone" with your password.
              <pre><code>
              "users": {
                "admin": {
                  "password": "mazizone",
                  "is_admin": true
                },
              }
              </code></pre>
            </p>
            <img src="images/etherpad_doc.png" class="img-responsive center-block" alt="Image for Etherpad Admin Panel">

            <h4>Useful tips:</h4>
            <p>
              It will make it easier for your MAZI Zone users if you create an index pad yourself and make it the "default" etherpad page by changing the URL in the applications area of the admin panel, when you manage to login. People could be invited to create their own pads, and add their link in that index page, which will be also "commentable" and make it easier to navigate the available pads on the server.
            </p>
            <p>
              For example, <a href='http://portal.mazizone.eu/p/unmonastery-index' target='_blank'>http://portal.mazizone.eu/p/unmonastery-index</a>
            </p>
            <p>
              Etherpad works well when there is someone that "cleans" the text from time to time and if there are suitable "index" pages that organize the different available pads.
            </p>
          </div>
          <div class="voffset9"></div>
        </div>
        
        <div class="tab-pane fade" id="p3">
          <h3 class="text-center" id="pg1"> Nextcloud</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              Nextcloud is a private file sync and share communication server. It is fully open source and you can host it yourself or pay a company to do it for you. That way, you are in control of your photos, your calendar and contact data, your documents and everything else.
            </p>
            <h4>Administration Guide</h4>
            <p>
              You will find an Admin page at <b><a target="_blank" href="http://local.mazizone.eu/nextcloud" class="app-link" >local.mazizone.eu/nextcloud</a></b></br>
              <b>User Name :</b> admin</br>
              <b>Password :</b> mazizone
            </p>
            <img src="images/nextcloud_doc.png" class="img-responsive center-block" alt="Image for Nextcloud Admin Panel" style='padding-bottom: 10px'>
            <p>
              To access your personal settings:</br>
                1. Clicking on admin in the top, right corner of your Nextcloud instance. The Personal Settings Menu opens.
            </p>
            <img src="images/nextcloud_doc2.png" class="img-responsive center-block" alt="Image for Nextcloud Admin Panel 2">
            <p>
              2. Choose Personal from the drop down menu.

              Some of the features you will see include the following:
              <ul>
               <li> Usage and available quota</li>
               <li> Manage your profile picture</li>
               <li> Full name You can make this anything you want, as it is separate from your login name, which is unique and cannot be changed</li>
               <li> Email address</li>
               <li> Lists your Group memberships</li>
               <li> Manage your password</li>
               <li> Choose the language for your Nextcloud interface</li>
               <li> Links to desktop and mobile apps</li>
              </ul>
            </p>
            </br>
            <h4>Useful tips:</h4>
            <p>
              An easy way to introduce your users to the Nextcloud application is to create a shared editable folder and create a direct link to it, as a separate   application, that will allow anyone to share easily files without having to enter a username and password.
            </p>
            <p>
              It might also help to create separate folder for different types of files (photos, slides, videos) to make it easier to direct people on what type of content is expected and make it easier to browse.
            </p>
          </div>
          <div class="voffset9"></div>
        </div>
        <div class="tab-pane fade" id="p4">
          <h3 class="text-center" id="pg1"> Guestbook</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              The MAZI Guestbook is an open source application that can used in events enabling the audience to share their thoughts, photos, etc.
            </p>
            
            <h4>Administration Guide</h4>
            <p>
              To moderate the content, you go to <b><a target="_blank" href="http://portal.mazizone.eu:8081/#admin" class="app-link" >local.mazizone.eu:8081/#admin</a></b></br> (username: <b>admin</b> password: <b>mazizone</b>), where you can delete any submission that is inappropriate.
            </p>

            <h4>Alternative views of content</h4>
            <p>
              As well as standard web browser presentation of content, GuestBook supports two other views of content
            </p>
            <p><b>Slideshow view:</b> <a href="http://portal.mazizone.eu:8081/#projection" target='_blank'>http://portal.mazizone.eu:8081/#projection</a> *</p>
            <p><b>Tablet view:</b> <a href="http://portal.mazizone.eu:8081/#tablet" target='_blank'>http://portal.mazizone.eu:8081/#tablet</a> *</p>
            <p>* all links work when you are connected to your MAZI Zone.</p>

            <h4>Tags</h4>
            <p>
              When contributing a post, users are offered predefined tag boxes to select to give profile information. These can be edited by the administrator. In order to change tags, open the config.js file, which is held here: <b>/var/www/html/mazi-board/src/www/js/config.js</b> You can remove or edit a tag as you wish in this code line
            </p>
            <pre><code>
              $tags: ['Tag1', 'Tag2', 'Tag3', 'Tag4']
            </code></pre>

            <h4>Background Image</h4>
            <p>
              In order to change the background image, save the image you want in the following path: <b>/var/www/html/mazi-board/src/www/images</b> Replace the DSI.jpg of the following code, with the name of your image. You can find the code in the following path: <b>/var/www/html/mazi-board/src/www/js/templates/header_tmpl.html</b>
            </p>
            <pre><code>
              &ltdiv class="header-bar"&gt&lt/div&gt
              &ltdiv class="header-image column"&gt&ltimg src="images/DSI.jpg"&gt&lt/div&gt
            </code></pre>
            <p>
              Alternatively, you could just replace the file "header-img.png" with the new image file. If you have a hybrid letterbox, in the same folder you can also replace the "logo" image by replacing the file "logo.png" in the same repository.
            </p>

            <h4>Appearance and input</h4>
            <p>
              You can further modify the appearance of the GuestBook manually by editing the various templates here: <b>/var/www/html/mazi-board/src/www/js/templates/</b>
            </p>

            <h4>Admin Password</h4>
            <p>
              In order to change the admin password, open the config.js file ,which takes place in this path: <b>/var/www/html/mazi-board/src/node/config.js</b>, and then fill the authPassword with the password you like.
            </p>
            <pre><code>
              /* AUTH DATA */
              authName: 'admin',
              authPassword: 'password',
            </code></pre>

            <h4>Message</h4>
            <p>
              In order to change the message, open the submission_input_tmpl.html file , which takes place in this path: <b>/var/www/html/mazi-board/src/www/js/templates/</b>submission_input_tmpl.html, and then change the message (i.e., "Click here to join the Guestbook" ...) with the message you wish to be displayed.
            </p>

            <h4>Setting upload size of files and formats</h4>
            <p>
              To customise the file upload size and file formats allowed, edit the following file:</br>
              <b>/var/www/html/mazi-board/src/node/config.js</b>
            </p>
            <p>
              By default, the maximum file upload size is 1024 x 1024 x 2 bytes (2 Mb). The following file types are allowed: 'image/jpg','image/jpeg','image/png','image/gif'
            </p>

            <h4>Changing font colours</h4>
            <p>
              The main css is available at: <b>/var/www/html/mazi-board/src/www/css/</b>
            </p>
            
            <h4>Saving the content of a MAZI Zone deployment</h4>
            <p>
              If you want to record the input of a specific MAZI Zone deployment for future use or archiving, and until the corresponding admin function is properly implemented, you can copy the folder "/var/files/" to another folder (e.g., "cp -r ./files files_[date]_[place]"). This new folder can be compressed and transferred to a local storage.
            </p>
          </div>
          <div class="voffset9"></div>
        </div>

        <div class="tab-pane fade" id="p5">
          <h3 class="text-center" id="pg1"> WordPress</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <p>
              WordPress is an open-source and free Web publishing application, content management system (CMS) and blogging tool built by a community of developers and contributors. WordPress allows users to build dynamic websites and blogs that may be updated, customized and managed from its back-end CMS and integrated application and components.
            </p>
            <h4>Administration Guide</h4>
            <img src="images/wordpress_doc.png" class="img-responsive center-block" alt="Image for WordPress Admin Panel" style='padding-bottom: 10px'>
            <p>
              Fill out the information: give your site a title, create a username and password and enter your email address. Hit the Install WordPress button, then log in using the account you just created.
            </p>
          </div>
          <div class="voffset9"></div>
        </div>

        <div class="tab-pane fade" id="p6">
          <h3 class="text-center" id="pg1"> FramaDate</h3>
          <br>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>Description</h4>
            <img src="images/framadate_doc.png" class="img-responsive center-block" alt="Image for WordPress Admin Panel" style='padding-bottom: 10px'>
            <p>
              Framadate is an open-source and free application like Doodle. It’s easy to create an appointment or a survey without registration to invite your collaborations. </br>
              Here is how to works :
              <ul>
                <li>Create a poll</li>
                <li>Determine the dates or topics to choose</li>
                <li>Send the survey link to your friends or colleagues </li>
                <li>Discuss and make your decision </li>
              </ul>
            </p>
          </div>
          <div class="voffset9"></div>
        </div>
      </div>
    </div>
  </div>
</div>
