<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Mazizone <small>Applications</small>
    </h1>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Application Name</th>
        <th>URL</th>
        <th>Description</th>
        <th>Click Counter</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Application 1</td>
        <td>http://192.168.1.1:8801/</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
        <td>12</td>
        <td>
          <a class="teal-text"><i class="fa fa-pencil"></i></a>
          <a class="red-text"><i class="fa fa-times"></i></a>
        </td>
      </tr>
    </tbody>
    </tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="teal-text"><i class="fa fa-plus"></i></a></td>
      </tr>
    </tfoot>
</table>
  <% applications.each do |app| %>

  <% end %> 
</div>