<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="account-wall">
      <img class="profile-img" src="/images/maziLogo.png" alt="">
      <% unless error_msg.nil? %>
      <div class="alert alert-danger">
        <p><%= error_msg %></p>
      </div>
      <% end %>
      <form class="form-signin" action="/admin_change_username" method="post">
        <input type="text" name="old-username" class="form-control" placeholder="Current Admin Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Admin Password" required>
        <input type="text" name="new-username" class="form-control" placeholder="New Admin Username" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
      </form>
    </div>
  </div>
</div
