<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="account-wall">
      <img class="profile-img" src="/images/maziLogo.png" alt="">
      <% unless error_msg.nil? %>
      <div class="alert alert-danger">
        <p><%= error_msg %></p>
      </div>
      <% end %>
      <form class="form-signin" action="/set_date" method="post">
        <p>Please use the form bellow to change the MAZI Zone Time/Date.</p>
        <input id="datetimepicker" type="text" name='date' class="form-control">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change Date</button>
      </form>
    </div>
  </div>
</div>
