<div class="row">
  <div class="hidden-xs voffset6" ></div>
  <div class="col-md-12 col-lg-12 panel">  
    <div class="panel-heading" id="syllabus">
      <h1 class="text-center text-primary hidden-xs" style="font-size:400%"><span class="glyphicon glyphicon-book"></span> User Documentation</h1>
      <h1 class="text-center text-primary visible-xs"><span class="glyphicon glyphicon-book"></span> User Documentation</h1>
    </div>
    <div class="panel-body">
      <div class="tab-pane">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h4>Description</h4>
          <p>
            In the following we include some additional tips from our experience using the pre-installed applications on the MAZI toolkit.
          </p>
          
          <h4>Etherpad tips:</h4>
          <ul>
            <li>You can "remove" the special highlight colour of a selected text by clicking on the "Clear Authorship colours" button (it looks like a "crossed" eye)</li>
            <li>You can download locally any file by clicking on the "two arrows" button</li>
            <li>Old versions of the file are available through the "time" button</li>
            <li>You can simply change the URL address (and click on it) to create a new file or "pad"</li>
            <li>Feel free to explore the menu items :-)</li>
          </ul>

          <h4>Nextcloud tips:</h4>
          <p>
            Many people get confused by the fact that when you click on the folder icon, this is only "selected" but to "enter" you have to click on the folder name.
          </p>
        </div>
        <div class="voffset9"></div>
      </div>
    </div>
  </div>
</div>