<div class="jumbotron">
  <h1>Camera</h1>
  <p>On this page you can see the photos and videos captured by the camera that is connected to this Mazizone.</p>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Live Video Streaming</div>
      <div class="panel-body">
        <% if camera_installed && rpi_enabled %>
        <div><img class="img-responsive center-block" id="mjpeg_dest"/></div>
        <% else %>
        <p>Currently, there is no camera properly installed on this Mazizone!</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Media Library</div>
      <div class="panel-body">
      <% if rpi_files[:photos].empty? && rpi_files[:videos].empty? %>
        <p>Currently, there are no images or videos found in the library!</p>
      <% else %>
      <div id="gallery" style="display:none;">
        <% rpi_files[:photos].each do |file| %>
          <img src="<%= "#{file}.i#{file.split('_')[2]}.th.jpg" %>"
          data-image="<%= file %>"
          data-description="">
        <% end %>
        <% rpi_files[:videos].each do |file| %>
        <img alt="Html5 Video"
          src="<%= "#{file}.v#{file.split('_')[2]}.th.jpg" %>"
          data-type="html5video"
          data-videomp4="<%= file %>"
          data-description="">
        <% end %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
