<div class="jumbotron">
  <h1>Camera</h1>
  <p>On this page you can see the photos and videos captured by the camera that is connected to this Mazizone.</p>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= photos_link %>"></iframe>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="<%= video_link %>"></iframe>
    </div>
  </div>
</div>