<div class="row">
  <div class="hidden-xs voffset6" ></div>
  <div class="col-md-12 col-lg-12 panel">
    <div class="panel-heading" id="syllabus">
      <h1 class="text-center text-primary hidden-xs" style="font-size:400%"><span class="glyphicon glyphicon-book"></span> User Documentation</h1>
      <h1 class="text-center text-primary visible-xs"><span class="glyphicon glyphicon-book"></span> User Documentation</h1>
    </div>
    <div class="panel-body">
      <div class="tab-pane">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h3>Description</h3>
          <p>
            In the following we include some additional tips from our experience using the pre-installed applications on the MAZI toolkit.
          </p>

          <h3>Etherpad tips:</h3>
          <p>The menu items of etherpad are not very self-explanatory. These are three important functions (whose corresponding menu items are depicted in the Figure below):</p>
          <ul>
            <li>You can "remove" the special highlight colour of a selected text by clicking on the "Clear Authorship colours" button (it looks like a "crossed" eye)</li>
            <li>You can download locally any file by clicking on the "two arrows" button</li>
          </ul>
          <img src="images/etherpad_doc_2.png" class=".img-responsive">
          </br></br>
          <p>Feel free to explore the other menu items.</p>
          <p>Etherpad transforms immediately URLs to clickable links and thus makes it very easy to <b>create new pads by editing a URL address and clicking on it.</b> You can do the same directly on your browser's address bar.</p>

          <h3>Nextcloud tips:</h3>
          <p>
            Many people get confused by the fact that when you click on the folder icon, this is only "selected" but to "enter" you have to click on the folder name (as it works with Dropbox).
          </p>

          <p>
            For iPhone users, there is often a problem with uploading photos, which are all named image.jpg. So, if one uploads more than one photo, there is a pop-up window which asks whether it should replace or not the previous photo, and in some iPhone models this pop-up window is not fully visible and the user cannot make a choice. In this case, the solution is to upload photos one be one, and rename them everytime on nextcloud.
          </p>

          <h3>Interview archive tips:</h3>
          <p>
            You can download the MAZI recorder app for Android from this link: <a href="https://github.com/lutzer/MaziRecorderAndroid/raw/master/MaziRecorder.apk">https://github.com/lutzer/MaziRecorderAndroid/raw/master/MaziRecorder.apk</a> (you will need to allow the installation of apps from third parties)
          </p>

          <p>
            The app for iPhone and more detailed documentation coming soon ...
          </p>

          <h3>Guestbook tips:</h3>
          <p>
            Detailed documentation for the MAZI Guestbook application is available here: <a href="https://github.com/mazi-project/guestbook/wiki/">https://github.com/mazi-project/guestbook/wiki/</a>
          </p>
        </div>
        <div class="voffset9"></div>
      </div>
    </div>
  </div>
</div>